@media (min-width: 50rem){
    .main{
        margin-left: calc((100% - 1260px) / 2 + 264px);
    } 
    .html{
        font-size: 5.4vw;
    }
} 

@media (min-width: 66.5rem){
    .side-bar {
        width: calc((100% - 1400px) / 2 + 250px);
        min-width: 264px;
    }
}

ul.small.list-inline.col-md-12.article-journal-name{
    display:-webkit-box;
    li{
        margin:0.25rem;
    }
}

.main-content ul, .main-content ol{
    padding-left: 0;
}

.main-content ul > li::before{
    content: none;
}
