<h1>Call For Papers</h1>

<p>
  We strongly encourage students, post-docs, and researchers who primarily
  identify as <b>LatinX</b> in all areas of Artificial Intelligence and Machine
  Learning to submit a paper describing new research. We welcome paper
  submissions in theory, methodology, and applications.
</p>

<p>
  We also welcome papers currently presented in another venue as long as the
  content of the paper is significantly different than the previous publication.
  The purpose of this journal is to disseminate LatinX in AI work within the
  broader community.
</p>

<p>
  Whereas the presenting author need not be the first author of the work, we
  encourage authors to highlight the contribution of Latinx individuals.
</p>

<p>
  <b
    >We invite submissions presenting new and original research on topics
    including but not limited to the following:</b
  >
</p>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Examples</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>General Machine Learning</td>
      <td></td>
    </tr>
    <tr>
      <td>Deep Learning</td>
      <td>Architectures, generative models, optimization for deep networks</td>
    </tr>
    <tr>
      <td>Reinforcement Learning</td>
      <td>Decision and control, planning, hierarchical RL, robotics</td>
    </tr>
    <tr>
      <td>Applications</td>
      <td>Speech processing, computer vision, NLP</td>
    </tr>
    <tr>
      <td>Machine Learning for Sciences</td>
      <td>Biology, physics, health sciences, social sciences</td>
    </tr>
    <tr>
      <td>Probabilistic Methods</td>
      <td>Variational inference, causal inference, Gaussian processes</td>
    </tr>
    <tr>
      <td>Optimization</td>
      <td>Convex and non-convex optimization</td>
    </tr>
    <tr>
      <td>Neuroscience and Cognitive Science</td>
      <td>Neural coding, brain-computer interfaces</td>
    </tr>
    <tr>
      <td>Theory</td>
      <td>Control theory, learning theory, algorithmic game theory</td>
    </tr>
    <tr>
      <td>Infrastructure</td>
      <td>Datasets, competitions, implementations, libraries</td>
    </tr>
    <tr>
      <td>Social Aspects of Machine Learning</td>
      <td>
        AI safety, fairness, privacy, interpretability, human-AI interaction,
        ethics
      </td>
    </tr>
  </tbody>
</table>

<p>
  Machine learning is a rapidly evolving field, and so we welcome
  interdisciplinary submissions that do not fit neatly into existing categories.
</p>

<h3>Double-blind reviewing</h3>
<p>
  All submissions must be anonymized and may not contain any identifying
  information that may violate the double-blind reviewing policy. This policy
  applies to any supplementary or linked material as well, including code. If
  you are including links to any external material, it is your responsibility to
  guarantee anonymous browsing. Please do not include acknowledgements at
  submission time. If you need to cite one of your own papers, you should do so
  with adequate anonymization to preserve double-blind reviewing. For instance,
  write “In the previous work of Smith et al. [1]…” rather than “In our previous
  work [1]...”.
</p>

<h3>Formatting</h3>
<p>
  The submissions have to follow the
  <a
    href="https://journals.ieeeauthorcenter.ieee.org/create-your-ieee-journal-article/authoring-tools-and-templates/tools-for-ieee-authors/ieee-article-templates/"
    >IEEE Access Journal format</a
  >
  with a maximum length of the paper of 10 pages, excluding appendices.
  Additional material such as proof, and appendices are allowed with a 10 page
  limit. The Journal
  <a
    href="https://template-selector.ieee.org/secure/templateSelector/downloadTemplate?publicationTypeId=1&titleId=201&articleId=1&fileId=541"
    >LaTex style</a
  >
  file includes all the format information for the submission.
</p>
<!-- GUIDELINES -->
<h1>Guidelines</h1>
<p>
  This year we are using a Openreview submission page to manage submissions and
  the corresponding peer-review process by our journal committee.
</p>

<p>
  <b>Full-papers:</b> 10 pages excluding references. We allow supplementary
  material in another file up to 10 pages. Note that these papers are expected
  to present novel research.
</p>

<p>
  Submissions will be double-blind peer-reviewed and should be submitted as a
  single PDF file. The submissions should strictly follow the guidelines
  provided by the aforementioned formatting guidelines to avoid the risk of
  being rejected without consideration of their merits. Submissions must state
  the research problem, motivation, and technical contribution. All submissions
  must be self-contained and include all figures, tables, and references.
</p>

<ul>
  <li>Submission Deadline: <b>Aug 1, 2023</b>.</li>
  <li>
    Response Time: We will reply with the initial review 30 days after
    submission.
  </li>
  <li>
    Revisions: Authors will be allowed (1) Major and (1) Minor revision as
    needed prior for publication.
  </li>
  <li>Review Period(s): 30 days for each review as needed.</li>
  <li>Revision Period(s): 30 days for each revision as needed.</li>
  <li>
    Volumes: (1) Volume per year published consisting of minimum of 5 full
    papers.
  </li>
</ul>
