<h1>Copyright & Licensing</h1>


<p>In order for LatinX in AI (LXAI) to publish and disseminate research articles, we need certain publishing rights from authors, which are determined by a publishing agreement between the author and LatinX in AI. In order to further our mission in 'Creating Opportunity for LatinX in AI' through education, research, and engineering, LXAI is committed to only publish under an <a href='http://legacy.earlham.edu/~peters/fos/overview.htm'>Open Access Creative Commons License</a> which allows for the exchange of knowledge and information in an equitable format.</p> 
<p>'Open-access (OA) literature is digital, online, free of charge, and free of most copyright and licensing restrictions'. You may learn more about the benefits and advancements created through Open Access licensing by visiting the following:  <a href='https://creativecommons.org/about/program-areas/open-access/'>https://creativecommons.org/about/program-areas/open-access/</a></p>
<p>For proceedings and articles published open access, the authors license exclusive publishing rights to LatinX in AI to identify as the original publisher while retaining ownership of their research and any intellectual property.</p>

<table>
    <thead>
        <th>LXAI Author Rights</th>
        <th>Proceedings</th>
        <th>Full Articles</th>
    </thead>
    <tbody>
        <tr>
            <td>Retain patent and trademark rights</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Retain the rights to use their research data freely without any  restriction</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Receive proper attribution and credit for their published work</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Re-use their own material in new works without permission or payment (with full acknowledgement of the original article):
                <p>1. Extend an abstact to full paper</p>
                <p>2. Extend an article to book length</p>
                <p>3. Include an article in a subsequent compilation of their own work</p>
                <p>4. Re-use portions, excerpts, and their own figures or tables in other works.</p>
            </td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Use and share their works for scholarly purposes (with full acknowledgement of the original article).</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Publicly share the preprint on any website or repository at any time.</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Publicly share the accepted manuscript on non-commercial sites</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Publicly share the  final published article</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Retain copyright</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
    </tbody>
</table>

<h1>LXAI Publication Agreement</h1>
<iframe src="../assets/pdfs/LXAIJournalPublicationAgreement.pdf" width="100%" height="500px">
</iframe>

<p>This document was derived in part by the following sources:</p>
<ul>
    <li><a href='http://legacy.earlham.edu/~peters/fos/overview.htm'>Peter Suber's Open Access Overview</a></li>
    <li><a href='https://creativecommons.org/about/program-areas/open-access/'>Creative Commons Open Access License</a></li>
    <li><a href='https://www.elsevier.com/about/policies/copyright'>Elsivier Copyright Policy</a></li>
    <li><a href='https://authorservices.wiley.com/author-resources/Journal-Authors/licensing/open-access-agreements.html'>Wiley Copyright and Licensing</a></li>
    <li><a href='https://www.springeropen.com/get-published/copyright'>Springer Copyright and Licensing</a></li>
    <li><a href='http://blogs.harvard.edu/pamphlet/2014/02/19/a-model-oa-journal-publication-agreement/?utm_source=twitterfeed&utm_medium=twitter'>Stuart Shiebers model open-access journal publication</a></li>
</ul>