<h1>Editorial Board</h1>
<p>
  The Editorial Board assists in a variety of aspects of running the journal.
  Their responsibilities may include (but are not limited to):
</p>

<ul class="lists">
  <li>Providing scientific expertise for the journal</li>
  <li>Administering peer review or serving as a peer reviewer</li>
  <li>
    Managing Special Issues of the Journal based on their area of expertise
  </li>
  <li>
    Helping the journal to attract high-quality manuscripts, for example by
    promoting the journal at relevant conferences
  </li>
  <li>Submitting articles</li>
  <li>
    Providing feedback and suggesting improvements for the journal including the
    open-source website code:
    <a href="https://github.com/latinxinai/research"
      >https://github.com/latinxinai/research</a
    >
  </li>
  <li>
    Suggesting topics and authors for commissioned reviews and commentaries
  </li>
</ul>

<h2>2023 Editorial Board Members</h2>
<ul class="lists">
  <li>
    <b>Felipe Leno da Silva</b>, Lawrence Livermore National Lab<br />
    <a
      target="_blank"
      href="https://scholar.google.com/citations?user=XbyIZQ4AAAAJ&hl"
      >Google Scholar</a
    >
    /
    <a target="_blank" href="https://www.linkedin.com/in/f-leno/">LinkedIn</a>
  </li>
  <li>
    <b>Daniel Campos</b>, University of Illinois Urbana Champaign<br />
    <a
      target="_blank"
      href="https://scholar.google.com/citations?user=nlHptm8AAAAJ&hl"
      >Google Scholar</a
    >
    /
    <a target="_blank" href="https://www.linkedin.com/in/spacemanidol/"
      >LinkedIn</a
    >
  </li>
  <li>
    <b>Fanny Nina Paravecino</b>, Microsoft<br />
    <a
      target="_blank"
      href="https://scholar.google.com/citations?user=vjJoW-wAAAAJ&hl"
      >Google Scholar</a
    >
    /
    <a
      target="_blank"
      href="https://www.linkedin.com/in/fanny-nina-paravecino-64b22b57/"
      >LinkedIn</a
    >
  </li>
  <li>
    <b>Hiram Eredín Ponce Espinosa</b>, Universidad Panamericana<br />
    <a
      target="_blank"
      href="https://scholar.google.co.in/citations?user=Y_oZyo4AAAAJ&hl"
      >Google Scholar</a
    >
    /
    <a target="_blank" href="https://www.linkedin.com/in/hiramponce/"
      >LinkedIn</a
    >
  </li>
  <li>
    <b>Karla Caballero</b>, Sirius XM / Pandora Radio<br />
    <a
      target="_blank"
      href="https://scholar.google.com/citations?user=u0gMpKoAAAAJ&hl"
      >Google Scholar</a
    >
    /
    <a
      target="_blank"
      href="https://www.linkedin.com/in/karla-caballero-barajas-4420159"
      >LinkedIn</a
    >
  </li>
  <li>
    <b>Miguel Gonzalez-Mendoza</b>, Tecnologico de Monterrey<br />
    <a
      target="_blank"
      href="https://scholar.google.com/citations?user=ggU9-8IAAAAJ&hl"
      >Google Scholar</a
    >
    /
    <a
      target="_blank"
      href="https://www.linkedin.com/in/miguel-gonzalez-mendoza/"
      >LinkedIn</a
    >
  </li>
  <li>
    <b>Laura Montoya</b>, Accel AI Institute<br />
    <a
      target="_blank"
      href="https://scholar.google.com/citations?user=-ZxYYvkAAAAJ&hl=en"
      >Google Scholar</a
    >
    /
    <a target="_blank" href="https://www.linkedin.com/in/lnmontoya/"
      >LinkedIn</a
    >
  </li>
</ul>
