<h1>Journal of LatinX in AI (LXAI) Research</h1>

<p>This is the Official Journal of LatinX in AI (LXAI) Professional Members, an archival publication of accepted peer-reviewed research papers including works submitted to our workshops co-located with prestigious AI conferences held globally and virtually. This Journal's scope encompases all areas of Artificial Intelligence including Machine Learning, Deep Learning, Computer Vision, Natural Language, Robotics, Data Science, and more.</p>

<p>Learn more about the LatinX in AI Org, our official research workshops, and other programs on our main website <a href="https://www.latinxinai.org/">https://www.latinxinai.org/</a></p>