<h1>CVPR</h1>

<h4>LatinX in AI (LXAI) has been co-locating our official research workshop with the CVPR conference since 2021.</h4>

<p>CVPR is the premier annual computer vision event comprising the main conference and several co-located workshops and short courses. With its high quality and low cost, it provides an exceptional value for students, academics and industry researchers.</p>

<p>CVPR is organized by the CVF, Computer Vision Foundation, a non-profit organization whose purpose is to foster and support research on all aspects of computer vision, including through supporting such conferences as Computer Vision and Pattern Recognition (CVPR) and the International Conference on Computer Vision (ICCV).</p>

<p>Learn more about the Computer Vision Foundation and their conferences on their website <a href="https://www.thecvf.com/">https://www.thecvf.com/</a></p>