<h1>NeurIPS</h1>

<h4>LatinX in AI (LXAI) has been co-locating our official research workshop with the NeurIPS conference since 2018.</h4>

<p>The Neural Information Processing Systems Foundation is a non-profit corporation whose purpose is to foster the exchange of research on neural information processing systems in their biological, technological, mathematical, and theoretical aspects. Neural information processing is a field which benefits from a combined view of biological, physical, mathematical, and computational sciences.</p>

<p>The primary focus of the Foundation is the presentation of a continuing series of professional meetings known as the Neural Information Processing Systems Conference, held over the years at various locations in the United States, Canada and Spain.</p>

<p>Learn more about the NeurIPS Foundation and their conferences on their website <a href="https://neurips.cc/">https://neurips.cc/</a></p>