<h1>NAACL</h1>

<h4>LatinX in AI (LXAI) has been co-locating our official research workshop with the NAACL conference since 2022.</h4>

<p>The North American Chapter of the Association for Computational Linguistics (NAACL) provides a regional focus for members of the Association for Computational Linguistics (ACL) in North America as well as in Central and South America, organizes annual conferences, promotes cooperation and information exchange among related scientific and professional societies, encourages and facilitates ACL membership by people and institutions in the Americas, and provides a source of information on regional activities for the ACL Executive Committee.</p>

<p>Learn more about the North American Chapter of the Association for Computational Linguistics and their conferences on their website <a href="https://naacl.org//">https://naacl.org/</a></p>