<h1>ICCV</h1>

<h4>LatinX in AI (LXAI) has been co-locating our official research workshop with the ICCV conference since 2022.</h4>

<p>ICCV is the premier international computer vision event comprising the main conference and several co-located workshops and tutorials.</p>

<p>ICCV is organized by the CVF, Computer Vision Foundation, a non-profit organization whose purpose is to foster and support research on all aspects of computer vision, including through supporting such conferences as the International Conference on Computer Vision (ICCV) and Computer Vision and Pattern Recognition (CVPR).</p>

<p>Learn more about the Computer Vision Foundation and their conferences on their website <a href="https://www.thecvf.com/">https://www.thecvf.com/</a></p>