<h1>ICML</h1>

<h4>LatinX in AI (LXAI) has been co-locating our official research workshop with the ICML conference since 2019.</h4>

<p>The International Conference on Machine Learning (ICML) is the premier gathering of professionals dedicated to the advancement of the branch of artificial intelligence known as machine learning.</p>

<p>ICML is globally renowned for presenting and publishing cutting-edge research on all aspects of machine learning used in closely related areas like artificial intelligence, statistics and data science, as well as important application areas such as machine vision, computational biology, speech recognition, and robotics.</p>

<p>ICML is one of the fastest growing artificial intelligence conferences in the world. Participants at ICML span a wide range of backgrounds, from academic and industrial researchers, to entrepreneurs and engineers, to graduate students and postdocs.</p>

<p>Learn more about the ICML conference on their website <a href="https://icml.cc/">https://icml.cc/</a></p>

